/* GENERAL */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: akiraFont;
  src: url('../fonts/Akira\ Expanded\ Demo.otf');
  }

body {
  background-color: black;
  width: 100%;
  overflow: hidden;
  font-family: 'akiraFont';
  color: white;
  padding: 0px 60px 0px 0px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover{
  transition: 0.3s ease;
  font-family: akiraFont;
  color: #D7263D;
}

/* MENU */

.menu { 
  width: 60px;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  border-left-color: white;
  background-color: black;
  z-index: 1;
  padding: 10px 7.5px 10px 0px;
  }
  
  .menuItem {
    font-size: 20px;
    text-align: center; 
    writing-mode: vertical-rl;
    transition: 0.3s ease;
  }
  
/* HOME */

.logoHomeJoses {  
  position: fixed;
  top: -5vh;
  left: 1%;
  font-size: 150px;
  white-space: initial;
  text-decoration:none;
} 

/* WORK */

ul {
  list-style-type: none;
  margin: 0px;
}

.work-gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.workPiece {
  position: relative;
  display: flex;
  width: 31vw;
  height: 33vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D7263D;
  font-size: 3rem;
  text-align: center; 
  align-items: center;
  margin: 0px;
}

.workPiece:hover{
  color: transparent;
  transition: none;
}

.PieceUnluckySponsor {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../../pages/work/assets/unluckySponsor.jpg);
  background-color: black;
  background-blend-mode: luminosity;
}

.PieceUnluckySponsor:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../pages/work/assets/theStandOut.gif);
  background-blend-mode: normal;
}

.PieceStandOut {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(../../pages/work/assets/theStandOut.jpg);
  background-color: black;
  background-blend-mode: luminosity;
}

.PieceStandOut:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../pages/work/assets/theStandOut.gif);
  background-blend-mode: normal;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .menu{
      background-color: #D7263D;
    } 
  }
