/* GENERAL */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
  font-family: louisFont;
  src: url('../fonts/Louis\ George\ Cafe\ Bold.ttf');
  }

  a {
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 10%;
	text-decoration: none;
	letter-spacing: 2px;
}  

/* HOME */


.logoHomeJoses {  
  position: relative;
  text-align: center;
  text-decoration: none;
  padding-top: calc(50vh - 100px);
} 

.logoHomeJosesAlt {  
  position: relative;
  text-align: left;
  text-decoration: none;
  padding: 200px 0px 0px 40px;
  z-index: 1;
  left: -5%;
}

.logoHomeJosesAltText {
	font-size: 50px;
	color: #3e3e3e;
}

/* WORK */

html, body {
	height: 100%;
	width: 100vw;
	overflow: hidden;
	background-color: white;
}

.menu {
	position: relative;
	height: 90%;
	width: 80%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	padding: 0px 0px 0px 20px;
}

.menu-item {
	position: relative;
	height: 20%;
	padding: 0px 0px 0px 0px;
}

.menu-item-inner {
	color: #909090;
}

a:hover {
	opacity: 0.6;
}

/* Hide Scrollbar */

* {
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}